body {
    background-color: #FFFFDC;
}
.font1 {
    color: #FFFFDC;
    font-family: "Instrument Serif";
    font-size: 55px;
    letter-spacing: 1px;
}
.font2 {
    color: #FFFFDC;
    font-family: "Instrument Serif";
    font-size: 42px;
    letter-spacing: 0px;
}
.font2-subheader {
    color: #FFFFDC;
    font-family: "Instrument Serif";
    font-style: italic;
    font-size: 42px;
    letter-spacing: 0px;
}
.banner {
    display: flex;
    margin-top: 40px;
}
.rectangle-banner {
    width: 383px;
    height: 65px;
    background-color: #FEA0DB;
    border-radius: 3px;
    margin: 80px;
}
.circle-big {
    width: 191px;
    height: 191px;
    border-radius: 100%;
    background-color: #DD0016;
    margin-top: 10px;
    margin-left: -420px;
}
.circle-small {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #FFED81;
    margin-left: -180px;
}
.name-tag {
    color: #FFFFDC;
    font-family: "Instrument Serif";
    font-style: italic;
    font-size: 42px;
    letter-spacing: 1px;
    margin-top: 90px;
    margin-left: 25px;
    text-decoration: none;
}
.menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
}
.rectangle-menu {
    height: 600px;
    width: 380px;
    border-radius: 3px;
    background-color: #FFA0DB;
    position: absolute;
    right: 100px;
}
.circle-menu {
    position: relative;
    left: 20px;
    top: 20px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #DD0016;
}
.cm1 {
    top: 260px;
    left: -18px;
}
.cm2 {
    top: 340px;
    left: -18px;
}
.cm3 {
    top: 420px;
    left: -18px;
}
.hi {
    position: relative;
    z-index: 1;
    left: 13px;
    top: -105px;
}
.welcome {
    position: relative;
    z-index: 1;
    left: 13px;
    top: -105px;
}
.about {
    position: relative;
    top: 5px;
    left: 27px;
    text-decoration: none;
}
.github {
    position: relative;
    top: 70px;
    left: 27px;
    text-decoration: none;
}
.gallery {
    position: relative;
    top: 135px;
    left: 27px;
    text-decoration: none;
}
.square-menu {
    height: 45px;
    width: 45px;
    border-radius: 3px;
    background-color: #FFED81;
    position: relative;
    top: -428px;
    left: 356px;
}